extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action="/api/signin" method="POST" class="ajax-form").bg-dark.text-light.container.p-3
    .form-group
      label(for="email") Email
      input(type="email" id="email" name="email").form-control
    .form-group
      label(for="password") Password
      input(type="password" id="password" name="password").form-control
    .form-group
      button.btn.btn-primary Sign In

  form(action="/api/user" method="GET" class="ajax-form")